.loading-container {
    min-height: 50vh;
    width: 100%;
    flex-direction: column;
}

.loading-content {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    animation: spin 1s linear infinite;
}

.loading-text {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-text-primary);
}

.loading-subtext {
    font-size: 0.875rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}